.bg-surface-secondary {
  background-color: #e8f2fb !important;
}

.login-icon {
  color: #bde3fb;
  font-size: 80px;
}

.page-title {
  color: #0967ae;
  font-size: 22px;
  font-weight: 600;
}

.react-date-picker__wrapper {
  padding: 0.6rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: #16192c;
  background-color: #fff;
  border: 1px solid #e7eaf0 !important;
  box-shadow: 0px 1px 2px rgb(50 50 71 / 8%);
}

.react-date-picker {
  width: 100%;
}

.img-head {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
}

.patient-info {
  font-size: 15px;
  color: #000;
  font-weight: 600;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  /* border-top: 0.3em solid; */
  /* border-right: 0.3em solid transparent; */
  /* border-bottom: 0; */
  /* border-left: 0.3em solid transparent; */
}

.countdown-time {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
}

.countdown-time div {
  margin: 0 5px;
  background-color: #2e1c7b;
  padding-top: 10px;
  border-radius: 8px;
  color: #fff;
  font-weight: 100;
  height: 60px;
  width: 60px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dhms {
  background: #fff;
  width: 100%;
  color: #2e1c7b;
  display: block;
  font-weight: 100;
  font-size: 14px;
  margin-top: 8px;
  border-radius: 0 0 8px 8px;
}

/* timepicker */

.time_border {
  border: 0.063rem solid #e0e0e0;
  border-radius: 0.25rem;
  padding: 0.438rem 0.563rem;
  justify-content: space-between;
}

.react-time-picker {
  display: inline-flex;
  position: relative;
}

.react-time-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: thin solid gray;
}

.react-time-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 6 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.react-time-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.react-time-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* -moz-appearance: textfield; */
}

input.react-time-picker__inputGroup__input.react-time-picker__inputGroup__hour,
.react-time-picker__inputGroup__input,
.react-time-picker__inputGroup__minute {
  width: 50px !important;
}

.slot-time {
  display: flex;
  flex-wrap: wrap;
}

.slot-time span {
  background-color: #ffafb2;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 25px;
}

.exam-td-add-btn,
.exam-td-remove-btn {
  color: #fff;
  border-radius: 25px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  margin-top: -5px;
}

.exam-td-add-btn {
  background: rgb(9, 103, 174);
}

.exam-td-remove-btn {
  background: rgb(191, 36, 36);
  margin-left: -10px;
}

.exam-label-value {
  width: 20px;
  background: white;
  border-radius: 30px;
  color: black;
  font-weight: 500;
  font-size: 12px;
  margin-left: 5px;
}

.mysche-room {
  background: #fff;
  border-radius: 15px;
  /* border: 2px solid #8060f53d; */
  display: inline-block;
  padding: 4px;
  min-width: 140px;
  font-size: 0.8rem;
  font-weight: 100;
}

.mysche-room tr,
.mysche-room th,
.mysche-room td {
  border: none !important;
}

.month-date-popup tr,
.month-date-popup th,
.month-date-popup td {
  padding: 0px 0.5rem !important;
}

.week-bg {
  background-color: #3788d8;
  color: #fff;
  border-radius: 6px;
}

@media (max-width: 1400px) {
  .mysche-room {
    /* min-width: 180px; */
    min-width: 130px;
    font-size: 0.7rem;
  }
}

@media (max-width: 1121px) {
  .mysche-room {
    min-width: inherit;
    padding: 5px;
  }
}

.schd-details {
  /* padding: 1px 5px 0px !important; */
  overflow: auto;
}

.status-select {
  border: 0px solid #ccc;
  border-radius: 15px;
  padding: 0px 5px;
  margin-top: 1px;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #edf5fb !important;
  background-color: #edf5fb !important;
}

.fc-daygrid-dot-event:hover {
  background: inherit !important;
}

.fc-theme-standard .fc-popover {
  width: 100%;
}

.fc-theme-standard .fc-popover {
  overflow-x: auto !important;
}

.fc .fc-view-harness {
  z-index: 1;
}

.fc-theme-standard .fc-popover {
  left: 0 !important;
}

.fc-h-event {
  background-color: #edf5fb !important;
  border: none !important;
}

.fc .fc-more-popover .fc-popover-body {
  padding: 0px !important;
}

.fc .fc-daygrid-day-top {
  flex-direction: inherit !important;
}
.css-13cymwt-control {
  flex-wrap: nowrap !important;
}
input#react-select-27-input {
  width: 100% !important;
}
input#react-select-29-input {
  width: 100% !important;
}
.css-319lph-ValueContainer {
  padding: 0px !important;
}

.css-6j8wv5-Input {
  grid-template-columns: auto !important;
}
.lightbox:target {
  display: block;
  overflow: scroll;
  height: 100vh;
}

.css-1s2u09g-control {
  min-height: 40px !important;
}
.fc-dayGridDay-view.fc-view.fc-daygrid {
  overflow: auto;
}
.sy-lf-rt-bt {
  font-weight: 500;
  margin-left: 5px;
}

.white-space {
  white-space: break-spaces !important;
}

.showhide-main {
  position: relative;
}

.pass-showhide {
  position: absolute;
  top: 8px;
  right: 15px;
  cursor: pointer;
}
.jainul-table th,
.jainul-table td {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.patient-bill th,
.patient-bill td {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
  padding-left: 0rem !important;
  font-size: 11px !important;
  line-height: 14px;
}
.sub-plan-name {
  color: #006cac;
  font-weight: bolder;
  letter-spacing: 0.02rem;
}
.base-plan-name {
  background-color: #132a879c;
  padding: 0.2rem 0.6rem;
  border-radius: 5rem;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}
input#react-select-23-input,
input#react-select-25-input {
  width: 100% !important;
}
.sec-hover {
  color: #cfd6df !important;
  background-color: #f5f9fc !important;
  border: none !important;
}
.sec-hover:hover {
  background-color: #f5f9fc !important;
  border-color: #f5f9fc !important;
}
.sub-active {
  color: #00a75c;
  padding: 0px 6px;
  font-size: 1.3rem;
  font-weight: 500;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  cursor: pointer;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  background-color: #4245a8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}
td .ps-2,
td .ps-2 span {
  font-weight: 500;
}
.min-w180 {
  min-width: 180px;
  margin-right: 60px;
}
.setup-account {
  background: #0967d3;
  border-radius: 8px;
  width: fit-content;
  margin-top: 50px !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.setup-account .nav-link:hover {
  color: #000 !important;
}
.setup-account .nav-link i {
  color: #fff !important;
}
.setup-account .nav-link:hover i {
  color: #000 !important;
}
.setup-account .nav-link {
  color: #fff !important;
}
.footer-fix::after {
  height: 5px;
  width: 100%;
  background-color: red;
  position: absolute;
}
.warning-c-view {
  justify-content: start;
  overflow: hidden;
  display: flex;
  padding: 0.25rem 1.5rem;
  align-items: center;
}
.warning-c-view h2 {
  display: contents;
  font-size: 14px;
  font-weight: bold;
}
.warning-c-view ul {
  padding: 5px 15px;
  background: #fff;
  width: fit-content;
  border-radius: 25px;
  margin-left: 8px;
  display: flex;
  overflow: auto;
  overflow-y: hidden;
}

.warning-c-view ul li {
  padding: 1px 10px;
  background: red;
  border-radius: 25px;
  color: #fff;
  list-style-type: none;
  margin-left: 4px;
  white-space: nowrap;
}
.warning-c-view ul li:first-child {
  margin-left: 0px;
}
@media print {
  .print-t {
    margin-top: 50px;
  }
  .footer-fix {
    position: fixed;
    bottom: 20px;
  }
}

.right-side-content {
  height: 100vh;
  position: absolute;
  background: #fff;
  z-index: 5;
  right: 0;
  min-width: 450px;
  max-width: 520px;
  box-shadow: 0px 5px 10px #a9a9a9;
  border-radius: 10px 0px 0px 10px;
  padding: 10px 35px 35px 35px;
  overflow-x: scroll;
}

.right-side-patient-dts {
  box-shadow: 0px 2px 8px #b1b1b1;
  padding: 15px;
  border-radius: 6px;
  word-break: break-all;
}
.right-next-app {
  background: #edf5fb;
  padding: 6px;
  display: block;
  border-radius: 4px;
  flex: none;
  margin-right: 10px;
  box-shadow: 2px 4px 6px #d9d9d9;
}
.next-app-table {
  max-width: 400px;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}
.jainul-print {
  display: none;
}

.Setup_Your_Account_container p {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

@media print {
  .jainul-print {
    display: block;
  }
}
